/* AdminPage.css */
.admin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin-content {
    margin-left: 250px;
    width: calc(100% - 500px);
    height: 90%;
    /* max-height: 520px; */
    overflow-y: hidden;
    padding: 20px;
    border: 1px solid #ddd;         
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logout-icon {
    cursor: pointer;
    width: 32px;
    height: 32px;
    fill: #383c44;
}

.logout-icon:hover {
    fill: #151618;
}