
.location-selector-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .location-selector-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(250, 238, 238, 0.568);
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 500px;
  }


.location-selector {
    text-align: left;
  }
  
  .location-selector h2 {
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .location-selector p {
    margin-bottom: 20px;
  }
  
  .location-selector input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .input-container {
    display: flex;
    align-items: center;
  }
  
  .location-selector select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
  }
  

  .location-selector optgroup {
    font-weight: bold;
  }
  
  .location-selector option {
    padding: 4px;
  }
  
  .location-selector option:first-child {
    font-weight: bold;
  }


  .location-selector svg {
    width: 37px;
    height: 37px;
    margin-left: 10px;
    cursor: pointer;
    fill: #333;
  }
  
  .location-selector svg:hover {
    fill: #000;
  }