@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    background-color: #383c44; /* A light grey background */
  }


.login-form-container {
    padding: 50px;
    background-color: #d3d9db;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Fixed width, you can adjust as needed */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 20px); /* Adjust width to account for padding */
    transition: border-color 0.3s;
  }

  .login-form input[type="password"]{
    margin-bottom: 0px;
  }

  .login-form input[type="text"]{
    margin-bottom: 20px;
  }

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  border-color: #383c44; /* Example focus color: Bootstrap primary blue */
  outline: none; /* Removes the default focus outline */
}
  
  .login-form button[type="submit"] {
    padding: 10px;
    background-color: #383c44;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em; /* Adjust letter spacing as desired */
    transition: background-color 0.3s;
  }
  
  .login-form button[type="submit"]:hover {
    background-color: #24272c;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em; /* Adjust letter spacing as desired */
  }
  
  .login-form div {
    margin-bottom: 20px;
  }


.login-error-container {
  height: 15px; /* Reserve space for the error message */
  margin-bottom: 20px; /* Adjust based on your design */
  color: red;
  text-align: center;
  width: 100%; /* Ensure it spans the full container width */
  transition: opacity 0.3s ease; 
}

.login-error-container.hidden {
  opacity: 0;
  visibility: hidden;
}
  
  /* Shake animation */
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }
  
  .shake {
    animation: shake 0.5s; /* Adjust timing as needed */
  }

  .back-link {
    display: block; /* Ensure it appears on a new line */
    margin-top: 20px; /* Space it a bit from the submit button */
    color: #383c44; /* Match your theme */
    text-decoration: none; /* Optional: removes the underline */
    font-family: 'Montserrat', sans-serif; /* Match your form styling */
    /* Additional styling as needed */
  }